:root {
	--mainColor: white;
	--mainBg: #121212;
	--font: "Inter", sans-serif;
}

/* Header image */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	width: 100%;
	padding: 0 20px;
	background-image: url(./imageheader.png);
	box-sizing: border-box;
}
header h1 {
	margin: 0;
	font-size: 45px;
	font-weight: 800;
}

header h2 {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.05px;
}

header a {
	text-decoration: none;
	color: white;
}

header a:hover,
header a:focus {
	color: grey;
}

header a:active {
	transform: scale(1.15);
	opacity: 0.75;
}

/*  */

/* Search bar styles */
form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.search {
	align-items: center;
	padding: 0px 15px;
	height: 38px;
	width: 462px;
	background: #2e2e2f;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px 0px 0px 6px;
	inset: none;
	outline: none;
	border: none;
	box-sizing: border-box;
}

#btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 9px 11px 9px 17px;
	width: 120px;
	height: 38px;
	background: #4b4b4b;
	border: none;
	outline: none;
	border-radius: 0px 6px 6px 0px;
	color: white;
	font-weight: 300;
}

#btn:hover {
	cursor: pointer;
	background-color: #222;
}

#btn:active {
	cursor: pointer;
	background-color: #4b4b4b;
}

.base-landing-logo {
	height: 100vh;
	display: flex;
	align-items: center;
}

/*  */

body {
	background-color: #121212;
	color: white;
	font-family: "Inter", sans-serif;
}

.wrapper,
#wrapper-watch-list {
	/* border: 1px solid magenta; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.movie-search-results {
	box-shadow: 0px 0px 5px whitesmoke;
	margin: 10px;
	display: flex;
	width: 600px;
	height: 200px;
	padding: 0 15px;
	border-radius: 4px;
	/* testing options */
	/*  */

	align-items: center;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	border-bottom: 2px solid grey;
}

.movie-search-results:hover {
	transition-delay: 0.5s;
	transition: ease-in-out;
	transform: scale(1.035);
}

.poster-img {
	height: 150px;
	width: 100px;
	padding: 15px;
}

.movie-information-panel {
	display: flex;
	justify-content: space-around;
}

.addToWatchlist:hover {
	transform: scale(0.9);
}

.addToWatchlist:active {
	box-shadow: 0px 0px 5px #222;
	transform: scale(0.7);
}

/* the search bar */

svg {
	height: 16px;
	width: 16px;
	margin-right: 5px;
}

/* Movie results styling */

#title {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

#rating {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}

#movie-information-panel {
	font-size: 12px;
	font-weight: 400;
	color: white;
}

.star {
	height: 15px;
	width: 15px;
}

#addToWatchlist {
	display: flex;
	height: 20px;
	align-items: center;
	padding: 10px;
}

#plot {
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
}


/* `<section id="movie-search-results" class="movie-search-results" data-movie=${data.imdbID}>
    <img class="poster-img" src=${data.Poster !== "N/A" ? data.Poster : placeHolderURL}
     height="160PX" width="100PX">
		
		 <div id='title-panel'>    
		 <div class="movie" id="movie">
     <h2 class="title" id="title">${
				data.Title
			} <span class="rating" id="rating">
			<img class="star" src="./Icon.png" alt="star rating icon"> ${data.imdbRating}</span></h2> 
			</div>
 
     <div id="movie-information-panel" class="movie-information-panel">
      <span class="runtime" id="runtime">${data.Runtime}</span>
      <span class="genre" id="genre">${data.Genre}</span>
      <button id="addToWatchlist" class="addToWatchlist" data-add=${
				data.imdbID
			}>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
     Watchlist</button>
     </div>
     <p class="plot" id="plot">${data.Plot}</p>
    </div>
   </section>`; */
